<%# トップページ %>
<div class='h-auto bg-bottom bg-cover bg-top-image'>
	<div class="h-96 w-full">
		<%# アプリの標語入れる %>
	</div>
	<div class="flex justify-center">
		<div class="bg-cyan md:w-4/5 mx-2 p-3 mb-14 rounded-lg border-4 border-gray-600">
			<%# フリーワード検索エリア %>
			<div class="max-w-2xl mx-auto">
				<p class="font-bold">フリーワード検索</p>
				<%= search_form_for @music, url: search_result_index_path do |f| %>
					<div class="relative">
						<div data-controller="autocomplete" data-autocomplete-url-value="/static_pages/search" role="combobox">
							<%= f.search_field :title_or_description_or_composer_composer_or_categories_name_cont,
																	data: { autocomplete_target: 'input' },
																	class:"block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 											 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", 
																	placeholder:"楽曲名、概要など" %>
							<%= f.hidden_field :title, data: { autocomplete_target: 'hidden' } %>
							<ul class="list-group bg-white absolute w-full md:text-sm max-w-max" data-autocomplete-target="results"></ul>
						</div>
						<%= f.submit "\uF002", class:"text-white absolute h-full right-0 bottom-0 bg-sky-700 hover:bg-sky-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-r-lg px-4 py-2 dark:bg-sky-600 dark:hover:bg-sky-700 dark:focus:ring-blue-800" %>
					</div>

					<p class="font-bold mt-4">絞り込み条件</p>
					<div class="md:flex flex-left">
						<%# カテゴリ検索 %>
						<%= f.collection_select(:music_categories_category_id_eq, @categories.all, :id, :name, 
							{include_blank: "カテゴリを選択"}, {class:"p-3 rounded-lg mb-2 mr-2 w-full"}) %>
						<%# 作曲者検索 %>
						<%= f.collection_select(:composer_id_eq, @composers.all, :id, :composer,
							{include_blank: "作曲者を選択"}, {class:"p-3 rounded-lg mb-2 w-full"}) %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
<div>
	<h1 class="flex justify-center text-gray-800 text-2xl lg:text-3xl font-bold text-center my-4 md:my-6">
		みんなのお気に入り楽曲
	</h1>
  <div class="max-w-screen-sm sm:py-4 md:px-6 mx-auto lg:py-6">
    <div class="grid">
      <% @music_like_ranks.zip(@medal_rank) do |result, index| %>
				<div class="rounded-md border bg-blue-100 border-5 border-gray-600 hover:text-slate-500 p-3 m-0.5">
					<div class="flex">
						<div class="flex items-center">
							<%= image_tag @medals[index],size: "45x45", class:"mr-2" %>
						</div>
						<div class="flex-auto">
							<%= link_to result.title, youtube_search_index_path(result.title), class:"text-base font-medium" %>
							<% if result.music_categories.exists? %> <%#カテゴリがある場合表示する%>
								<p class="text-sm"><i class="fa-solid fa-tag mr-1"></i><%= Category.find(result.music_categories[0].category_id).name %></p>
							<% end %>
							<% if result.description? %> <%#概要がある場合表示する%>
								<p class="text-sm"><i class="fa-solid fa-circle-info mr-1"></i><%= result.description %></p>              
							<% end %>
						</div>
						<div class="flex flex-end items-center">
							<i class="fa-solid fa-heart" style="color: deeppink;"></i>
							<p class="ml-1 text-lg"><%= Like.where(music_id: result.id).count %></p>
						</div>
					</div>
				</div>
      <% end %>
    </div>
  </div>
</div>