<%# トップページ %>
<div class='h-3/4 bg-bottom bg-cover bg-top-image'>
	<div class="h-96 w-full">
		<%# アプリの標語入れる %>
	</div>
	<div class="flex justify-center">
		<div class="bg-cyan w-4/5 p-3 mb-14 rounded-lg border-4 border-gray-600">
			<%# フリーワード検索エリア %>
			<div class="max-w-2xl mx-auto">
				<p class="font-bold">フリーワード検索</p>
				<%= search_form_for @music, url: search_result_index_path do |f| %>
					<div class="relative">
						<%= f.search_field :title_or_description_cont, class:"block p-4 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder:"楽曲名、概要など" %>
						<%= f.submit "\uF002", class:"text-white absolute h-full right-0 bottom-0 bg-sky-700 hover:bg-sky-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-r-lg text-sm px-4 py-2 dark:bg-sky-600 dark:hover:bg-sky-700 dark:focus:ring-blue-800" %>
					</div>
					<p class="font-bold mt-4">絞り込み条件</p>
					<div class="md:flex flex-left">
						<%# カテゴリ検索 %>
						<%= f.collection_select(:music_categories_category_id_eq, @categories.all, :id, :name, 
							{include_blank: "カテゴリ選択"}, {class:"p-3 rounded-lg mb-2 mr-2"}) %>
						<%# 作曲者検索 %>
						<%= f.collection_select(:composer_id_eq, @composers.all, :id, :composer,
							{include_blank: "作曲者選択"}, {class:"p-3 rounded-lg mb-2"}) %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
<div>
	<h1 class="flex justify-center text-gray-800 text-2xl lg:text-3xl font-bold text-center my-4 md:my-6">
		みんなのお気に入り楽曲
	</h1>
  <div class="max-w-screen-2xl sm:py-4 md:px-6 mx-auto lg:py-6">
    <div class="grid">
      <% @music_like_ranks.each_with_index do |result, index| %>
				<div class="rounded-md border bg-blue-100 border-5 border-gray-600 hover:text-slate-500 p-3 m-0.5">
					<div class="flex">
						<div class="flex items-center">
							<%= image_tag @medals[index],size: "50x50", class:"mr-4" %>
						</div>
						<div class="flex-auto">
							<%= link_to result.title, youtube_search_index_path(result.title), class:"text-lg font-medium" %>
							<p class="flex text-sm">#<%= Category.find(result.music_categories[0].category_id).name %></p>
							<p class="flex text-sm">#<%= result.description %></p>              
						</div>
						<div class="flex flex-end items-center">
							<p class="text-2xl"><%= Like.where(music_id: result.id).count %></p>
							<p class="text-xl">いいね</p>
						</div>
					</div>
				</div>
      <% end %>
    </div>
  </div>
</div>