<div class="container">
  <div class="text-center mt-5">
  <h1>編集</h1>
    <%= form_with model: @user, class: "max-w-screen-md grid sm:grid-cols-2 gap-4 mx-auto", local: true do |f| %>
      <div class="sm:col-span-2">
        <%= f.label :name, class:"inline-block text-gray-800 text-sm sm:text-base mb-2" %>
        <%= f.text_field :name, class:"w-full bg-gray-50 text-gray-800 border focus:ring ring-indigo-300 rounded outline-none transition duration-100 px-3 py-2" %>
      </div>

      <div class="sm:col-span-2">
        <%= f.label :email, class:"inline-block text-gray-800 text-sm sm:text-base mb-2" %>
        <%= f.email_field :email, class:"w-full bg-gray-50 text-gray-800 border focus:ring ring-indigo-300 rounded outline-none transition duration-100 px-3 py-2" %>
      </div>
    <% end %>
  </div>
</div>