<div class="max-w-screen-2xl py-5 md:px-6 mx-auto">
  <div class="md:grid grid-cols-2">
    <% if @musics.present? %>
      <% @musics.each do |music| %>
        <div class="rounded-md border bg-blue-100 border-5 border-gray-600 hover:bg-gray-200 p-3 m-0.5">
          <div class="flex flex justify-between">
            <div>
              <%= link_to music.title, youtube_search_index_path(music.title), class:"text-base font-medium hover:underline hover:text-blue-600" %>
              <% if music.music_categories.exists? %> <%#カテゴリがある場合表示する%>
                <p><i class="fa-solid fa-tag mr-1"></i><%= Category.find(music.music_categories[0].category_id).name %></p>
              <% end %>
              <% if music.description? %> <%#概要がある場合表示する%>
                <p class="text-sm"><i class="fa-solid fa-circle-info mr-1"></i><%= music.description %></p>
              <% end %>
            </div>
            <div class="flex items-center">
              <div id="favorite_button_<%= music.id %>">
                <%= render '/likes/like_button', music: music %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="text-center">
        <p class="text-md flex flex justify-center">該当する楽曲が見つかりませんでした。</p>
      </div>
    <% end %>
  </div>
</div>