<div class="flex flex-col mx-auto max-w-screen-lg">
  <div class="text-center">
    <h1><%= @music.title %></h1>
      <% if @music.description? %>
        <p><i class="fa-solid fa-circle-info mr-1"></i><%= @music.description %></p>
      <% end %>
      <p><i class="fa-solid fa-tag mr-1"></i><%= @music.categories[0].name %></p>
      <p><i class="fa-solid fa-user mr-1"></i><%= @music.composer.composer %></p>
  </div>
  <div class="mx-auto max-w-screen-lg">
    <%= link_to 'Youtubeで検索', youtube_search_index_path(@music.title), class:'bg-blue-100 my-10' %>
  </div>
  <div class="mx-auto max-w-screen-lg">
    <%= form_with model: @comment, url: search_result_comments_path(@music.id) do |f| %>
      <%= f.label :body %>
      <%= f.text_area :body, class:"border" %>
      <%= f.submit "コメントする" %>
  <% end %>
  </div>

  <%= render 'comments/comment', { comments: @comments } %>
</div>