<div class="text-center">
  <div class="">
    <h1><%= @music.title %></h1>
      <% if @music.description? %>
        <p><i class="fa-solid fa-circle-info mr-1"></i><%= @music.description %></p>
      <% end %>
      <p><i class="fa-solid fa-tag mr-1"></i><%= @music.categories[0].name %></p>
      <p><i class="fa-solid fa-user mr-1"></i><%= @music.composer.composer %></p>
  </div>
  <%= link_to 'Youtubeで検索', youtube_search_index_path(@music.title), class:'bg-blue-100 my-10' %>
  <div class="">
    <input class="border"></input>
    <button class="">投稿</button>
  <div>
</div>