<!DOCTYPE html>
<html>
  <head>
    <title>BrassApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </head>
  
  <body>
  <% if logged_in? %>
    <%= render 'shared/login_header' %>
  <% else %>
    <%= render 'shared/before_login_header' %>
  <% end %>
  <%= render 'shared/flash_message' %>
  <%= yield %>
  <%= render 'shared/footer' %>
  </body>
</html>
